h1 {
    color: white;
    background-color: grey;

}

h1 > span {
    color: aqua;
}

h2 {
    background-color: purple;
    text-align: center;
    color: white;
    font-style: italic;
}

h3 {
    background-color: lightblue;
    text-decoration: underline;
    text-align: right;
}